<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <title>System Modeling</title>
    <link rel="stylesheet" href="../../../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../../../static/css/font-awesome.min.css"
          th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" href="../../../static/css/ace.min.css"
          th:href="@{/css/ace.min.css}">
</head>
<body class="no-skin">
<div id="app">
    <!--header部分开始-->
    <div th:replace="common/header::myHeader"></div>
    <!--header部分结束-->
    <!--main-container部分开始-->
    <div class="main-container" id="main-container">
        <!--sidebar部分开始-->
        <div th:replace="common/sidebar::mySidebar"></div>
        <!--sidebar部分结束-->
        <div class="main-content">
            <!--breadcrumbs部分开始-->
            <div class="breadcrumbs" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a th:href="@{/toIndex}">MoSiV-Online</a>
                    </li>
                    <li class="active">System Modeling</li>
                    <li class="active">Behavioural Diagrams</li>
                    <li class="active">State Diagrams</li>
                </ul>
            </div>

            <div id="canvas-wrapper" style="width: 100%; display: flex; justify-content: space-between">
                <div style="width: 105px; margin-right: 2px; background-color: whitesmoke; border: 1px solid black; position: relative; -webkit-tap-highlight-color: rgba(255, 255, 255, 0); cursor: auto;">
                    <canvas id="myPalette" tabindex="0" width="103" height="618"
                            style="position: absolute; top: 0px; left: 0px; z-index: 2; user-select: none; cursor: auto;">
                        This text is displayed if your browser does not support the Canvas HTML element.
                    </canvas>
                    <div style="position: absolute; overflow: auto; width: 103px; height: 618px; z-index: 1;">
                        <div style="position: absolute; width: 1px; height: 1px;"></div>
                    </div>
                </div>
                <div style="width:100%; height: 620px; border: 1px solid black; position: relative; -webkit-tap-highlight-color: rgba(255, 255, 255, 0); cursor: auto;">
                    <canvas id="myDiagram" tabindex="0" width="996" height="618"
                            style="position: absolute; top: 0px; left: 0px; z-index: 2; user-select: none; cursor: auto;">
                        This text is displayed if your browser does not support the Canvas HTML element.
                    </canvas>
                    <div style="position: absolute; overflow: auto; width: 797px; height: 618px; z-index: 1;">
                        <div style="position: absolute; width: 1px; height: 1px;"></div>
                    </div>
                </div>
            </div>

        </div>
        <!--footer部分开始-->
        <div class="footer">
            <div class="footer-inner">
                <div class="footer-content">
                <span class="bigger-120">
                     &copy; 2021 MoSiV-Online
                </span>
                </div>
            </div>
        </div>
        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
        <!--footer部分结束-->
    </div>
    <!--main-container部分结束-->
</div>
</body>
<!--<script src="../../../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>-->
<script src="../../../static/js/jquery-3.6.0.js" th:src="@{/js/jquery-3.6.0.js}"></script>
<script src="../../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../../../static/js/ace.min.js" th:src="@{/js/ace.min.js}"></script>
<script src="../../../static/js/ace-extra.min.js" th:src="@{/js/ace-extra.min.js}"></script>
<script src="../../../static/js/vue.min.js" th:src="@{/js/vue.min.js}"></script>
<script src="../../../static/js/util.js" th:src="@{/js/util.js}"></script>
<script src="../../../static/js/mosiv.js" th:src="@{/js/mosiv.js}"></script>
<script>
    $(function () {
        let ul = $('ul.nav-list').children();
        ul.eq(0).removeClass("active");
        ul.eq(1).addClass("active open");
        ul.eq(1).children().eq(2).children().eq(1).addClass("active open");
        ul.eq(1).children().eq(2).children().eq(1).children().eq(2).children().eq(1).addClass("active");

        let diagram = new StateDiagramCanvas({
            el: "#myDiagram", // canvas 的id
        });

        $('#myDiagram')[0].width = $('#myDiagram').parent().width();

        // 建模元素工具栏
        let palette = new StateDiagramPalette({
            el: "#myPalette", // canvas 的id
        });

        // 建模元素
        // TODO 有待优化
        let startState = new StartState(32, 51, 40);
        let endState = new EndState(32, 51, 40 + 32*2 + 8);
        let state = new State(51 - 32, 114 + 32*2 - 32 + 16, 64, 64);
        let link = new Link();

        // 添加进建模元素工具栏
        palette.add(startState);
        palette.add(endState);
        palette.add(state);
        palette.add(link);

        palette.draw();

        $('#canvas-wrapper').on('mouseleave', (e) => {
           component_to_transmit = null;
           palette.component_chose = null;
           diagram.component_chose = null;
        });

        $(window).resize(function() {
            $('#myDiagram')[0].width = $('#myDiagram').parent().width();
            diagram.update();
        });
    });
</script>
</html>