<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <title>System Modeling</title>
    <link rel="stylesheet" href="../../../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../../../static/css/style.css"
          th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../../../static/css/font-awesome.min.css"
          th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" href="../../../static/css/ace.min.css"
          th:href="@{/css/ace.min.css}">
    <link rel="stylesheet" href="../../../static/css/stateDiagramEditor.css"
          th:href="@{/css/stateDiagramEditor.css}">
</head>
<body class="no-skin">
<div id="app">
    <!--header部分开始-->
    <div th:replace="common/header::myHeader"></div>
    <!--header部分结束-->
    <!--main-container部分开始-->
    <div class="main-container" id="main-container">
        <!--sidebar部分开始-->
        <div th:replace="common/sidebar::mySidebar"></div>
        <!--sidebar部分结束-->
        <div class="main-content">
            <!--breadcrumbs部分开始-->
            <div class="breadcrumbs" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a th:href="@{/toIndex}">MoSiV-Online</a>
                    </li>
                    <li class="active">System Modeling</li>
                    <li class="active">Behavioural Diagrams</li>
                    <li class="active">State Diagrams</li>
                </ul>
            </div>

            <div style="width: 100%; display: flex; justify-content: space-between">
                <div style="width: 105px; margin-right: 2px; background-color: whitesmoke; border: 1px solid black; position: relative; -webkit-tap-highlight-color: rgba(255, 255, 255, 0); cursor: auto;">
                    <div id="myPalette" style="width: 100%; height: 618px"></div>
                    <div style="position: absolute; overflow: auto; width: 103px; height: 618px; z-index: 1;">
                        <div style="position: absolute; width: 1px; height: 1px;"></div>
                    </div>
                </div>
                <div style="width:100%; height: 620px; border: 1px solid black; position: relative; -webkit-tap-highlight-color: rgba(255, 255, 255, 0); cursor: auto;">
                    <svg id="myDiagram" tabindex="0" width="996" height="618">
                        This text is displayed if your browser does not support the Canvas HTML element.
                    </svg>
                    <div style="position: absolute; overflow: auto; width: 797px; height: 618px; z-index: 1;">
                        <div style="position: absolute; width: 1px; height: 1px;"></div>
                    </div>
                </div>
            </div>

        </div>
        <!--footer部分开始-->
        <div class="footer">
            <div class="footer-inner">
                <div class="footer-content">
                <span class="bigger-120">
                     &copy; 2021 MoSiV-Online
                </span>
                </div>
            </div>
        </div>
        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
        <!--footer部分结束-->
    </div>
    <!--main-container部分结束-->
</div>
</body>
<!--<script src="../../../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>-->
<script src="../../../static/js/jquery-3.6.0.js" th:src="@{/js/jquery-3.6.0.js}"></script>
<script src="../../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../../../static/js/ace.min.js" th:src="@{/js/ace.min.js}"></script>
<script src="../../../static/js/ace-extra.min.js" th:src="@{/js/ace-extra.min.js}"></script>
<script src="../../../static/js/vue.min.js" th:src="@{/js/vue.min.js}"></script>
<script src="../../../static/js/d3.min.js" th:src="@{/js/d3.min.js}"></script>
<script src="../../../static/js/util.js" th:src="@{/js/util.js}"></script>
<script src="../../../static/js/kld-intersections.js" th:src="@{/js/kld-intersections.js}"></script>
<script src="../../../static/js/mosiv.js" th:src="@{/js/mosiv.js}"></script>
<script>
    $(function () {
        let ul = $('ul.nav-list').children();
        ul.eq(0).removeClass("active");
        ul.eq(1).addClass("active open");
        ul.eq(1).children().eq(2).children().eq(1).addClass("active open");
        ul.eq(1).children().eq(2).children().eq(1).children().eq(2).children().eq(1).addClass("active");

        let my_palette = d3.select('#myPalette')
        // 获取父节点
        let my_palette_wrapper = d3.select(my_palette.node().parentNode)
        my_palette.style('width', my_palette_wrapper.node().getBoundingClientRect().width)
            .style('height', my_palette_wrapper.node().getBoundingClientRect().height)

        let my_diagram = d3.select('#myDiagram')
        let my_diagram_wrapper = d3.select(my_diagram.node().parentNode)
        my_diagram.style('width', my_diagram_wrapper.node().getBoundingClientRect().width)
            .style('height', my_diagram_wrapper.node().getBoundingClientRect().height)


        let components = [{name: "Cursor", obj: null},
            {name: "StartState", obj: StartState},
            {name: "EndState", obj: EndState},
            {name: "Transition", obj: Transition},
            {name: "BranchPoint", obj: BranchPoint}]

        my_palette.selectAll("div")
            .data(components)
            .enter()
            .append("div")

        my_palette.selectAll("div")
            .data(components)
            .style("width", "100%")
            .style("padding-bottom", "80%")
            .style("border", "1px solid black")
            .style("cursor", "pointer")
            .text((d) => {
                return d.name
            })
            .on("click", (event, d) => {
                if (d.name == "Cursor") {
                    component_to_transmit = null
                    return
                }

                component_to_transmit = d["obj"]
                // TODO 建模元素高亮
            })

        let diagram = new StateDiagramSVG();

        // 建模元素工具栏
        // let palette = new StateDiagramPalette({
        //     el: "#myPalette", // canvas 的id
        // });

        d3.select(window).on('resize.update_svg', function () {
            my_palette.style('width', my_palette_wrapper.node().getBoundingClientRect().width)
                .style('height', my_palette_wrapper.node().getBoundingClientRect().height)
            my_diagram.style('width', my_diagram_wrapper.node().getBoundingClientRect().width)
                .style('height', my_diagram_wrapper.node().getBoundingClientRect().height)
        });
    });
</script>
</html>