<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <title>MoSiV-Online</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../../static/css/font-awesome.min.css"
          th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" href="../../static/css/ace.min.css"
          th:href="@{/css/ace.min.css}">
    <link rel="stylesheet" href="../../static/css/style.css"
          th:href="@{/css/style.css}">

</head>
<body class="no-skin">
<div id="app">
    <!--header部分开始-->
    <div th:replace="common/header::myHeader"></div>
    <!--header部分结束-->
    <!--main-container部分开始-->
    <div class="main-container" id="main-container">
        <!--sidebar部分开始-->
        <div th:replace="common/sidebar::mySidebar"></div>
        <!--sidebar部分结束-->
        <div class="main-content">
            <!--breadcrumbs部分开始-->
            <div class="breadcrumbs" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a th:href="@{/toIndex}">MoSiV-Online</a>
                    </li>
                    <li class="active">Console</li>
                </ul>
            </div>
            <div class="welcome-info">
                <h1>欢迎使用本系统</h1>
            </div>
        </div>
        <!--footer部分开始-->
        <div class="footer">
            <div class="footer-inner">
                <div class="footer-content">
                <span class="bigger-120">
                     &copy; 2021 MoSiV-Online
                </span>
                </div>
            </div>
        </div>
        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
        <!--footer部分结束-->
    </div>
    <!--main-container部分结束-->
</div>
</body>
<script src="../../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../../static/js/ace.min.js" th:src="@{/js/ace.min.js}"></script>
<script src="../../static/js/ace-extra.min.js" th:src="@{/js/ace-extra.min.js}"></script>
<script src="../../static/js/vue.min.js" th:src="@{/js/vue.min.js}"></script>
</html>
